@charset "utf-8";

body{
    font-family:sans-serif;
}

.header{
    background-color: #FF99CC;
    height:90px;
}
.header-logo{
    float: left;
    font-size:36px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 40px;
    padding-right: 40px;
}

.header-logo span{
    color:#0000FF;
}

.header-list li{
    list-style: none;
    float:right;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 20px;
    padding-right: 20px;
}

.main{
    background-color: aqua;
    height: 750px;
}
.copy-container h1{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.copy-container h2{
    font-size:60px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.copy-container h3{
    font-size:40px;
}
.main span{
    color:#FF4F02;
}

.footer{
    background-color: antiquewhite;
    height:90px;
}

.footer-logo{
    float:left;
    font-size:36px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-logo span{
    color:#00BB00;
}

.footer-list li{
    list-style: none;
    float:right;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 20px;
    padding-right: 20px;
}
