@charset "utf-8";

body{
    font-family:sans-serif;
}

.header{
    background-color: #FF99CC;
    height: 150px;
}
.header-logo{
    float: left;
    font-size:60px;
    padding-top:30px;
    padding-bottom:70px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logo span{
    color:#0000FF;
}

.header-list li{
    list-style: none;
    float:right;
    font-size:18px;
    padding-top:110px;
    padding-bottom:70px;
    padding-left: 40px;
    padding-right: 40px;
}

.main{
    background-color: aqua;
    height: 1100px;
}

  
  #weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-icon {
    height: 100px;
    margin-bottom: 10px;

  }
  
  .weather-description {
    font-weight: bold;
    font-size: 20px;
    float: left;
  }


.copy-container h1{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.copy-container h2{
    font-size:70px;
    width: 850px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
.copy-container-list h3{
    font-size:25px;
    margin-top: auto;
    margin-bottom: auto;
}


.main span{
    color:#FF4F02;
}

.footer{
    background-color: antiquewhite;
    height:150px;
}

.footer-logo{
    float: left;
    font-size:60px;
    padding-top:30px;
    padding-bottom:70px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-logo span{
    color:#00BB00;
}

.footer-list li{
    list-style: none;
    float:right;
    font-size:18px;
    padding-top:60px;
    padding-bottom:70px;
    padding-left: 20px;
    padding-right: 20px;
}
