@charset "utf-8";

body{
    font-family:sans-serif;
}

.header{
    background-color: #FF99CC;
    height: 165px;
}
.header-logo{
    float: left;
    font-size:60px;
    padding-top:50px;
    padding-bottom:60px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-logo span{
    color:#0000FF;
}

.header-list li{
    list-style: none;
    float:right;
    font-size:18px;
    padding-top:130px;
    padding-bottom:50px;
    padding-left: 20px;
    padding-right: 20px;
}

.main{
    background-color: aqua;
    height: 1100px;
}

.copy-container h1{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.copy-container h2{
    font-size:70px;
    width: 850px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
.copy-container-list h3{
    font-size:25px;
    margin-top: auto;
    margin-bottom: auto;
}
.main span{
    color:#FF4F02;
}

.footer{
    background-color: antiquewhite;
    height:165px;
}

.footer-logo{
    float: left;
    font-size:60px;
    padding-top:50px;
    padding-bottom:60px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-logo span{
    color:#00BB00;
}

.footer-list li{
    list-style: none;
    float:right;
    font-size:18px;
    padding-top:130px;
    padding-bottom:50px;
    padding-left: 20px;
    padding-right: 20px;
}
